## initial setup

In [6]:
# !~/Desktop/ai-ml/U-tube/resume_screening/myenv/bin/python -m pip install ipykernel

In [8]:
# !~/Desktop/ai-ml/U-tube/resume_screening/myenv/bin/python -m ipykernel install --user --name=myenv --display-name "Python (myenv)"

## Package insallation

In [9]:
# !~/Desktop/ai-ml/U-tube/resume_screening/myenv/bin/python -m pip install --force-reinstall seaborn

####

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
df = pd.read_csv('UpdatedResumeDataSet.csv')

In [17]:
df.head()

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...

In [16]:
df.shape

(962, 2)